.task {
	// width: 100%;
	min-width: 480px;
	max-width: 480px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px 0px;
	background-color: white;
	padding: 10px 10px;

	.wrapper {
		display: flex;

		flex-direction: column;
		text-align: left;

		.description {
			color: #505050;
			display: block;
		}
	}
}

@media (max-width: 500px) {
	.task {
		min-width: 300px;
	}
}
